<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic">
        <receiver
            android:name="com.novadrive.app.DebugToolReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.novadrive.app.DEBUG_TOOL" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
